<app-bread-crumb [items]="[{text: 'Produtos', link: '/produtos'}, {text: pageTitle}]"></app-bread-crumb>

<app-page-header [pageTitle]="pageTitle" buttonText="Voltar" buttonLink="/produtos" matIcon="arrow_back">
</app-page-header>

<form [formGroup]="resourceForm" id="resourceForm" (submit)="submitForm()">

  <div class="card">
    <div class="card-header">
      Informações sobre a Produto
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-3 border rounded-lg text-center p-3">
          <img *ngIf="!imageSrc" src="{{bucketUrl}}/prod{{resource.id}}.jpg" style="height: 150px; width:150px">
          <img [src]="imageSrc" *ngIf="imageSrc" style="height: 150px; width:150px">
        </div>
        <div class="form-group col-md-3">
          <div class="form-group">
            <div class="custom-file" id="customFile">
              <input type="file" class="custom-file-input" id="file" formControlName="file"
                     (change)="onFileChange($event)" accept=".jpg">
              <label class="custom-file-label" for="file" data-browse="Selecionar Foto">{{fileName}}
                <mat-icon>file_upload</mat-icon>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group col-md-2">
        <mat-form-field>
          <mat-label>Categorias</mat-label>
          <mat-select placeholder="Selecione uma Categoria" #matSelect>
            <mat-option [value]="null">Escolha a Categoria</mat-option>
            <mat-option *ngFor="let opcao of listaCategoria" [value]="opcao"
                        (onSelectionChange)="selectCategoria(opcao)">
              {{opcao.nome}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <app-form-field-error [controlName]="resourceForm.get('categoria')"></app-form-field-error>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <mat-form-field>
            <mat-label for="nome">Nome</mat-label>
            <input matInput type="text" id="nome" formControlName="nome">
          </mat-form-field>
          <app-form-field-error [controlName]="resourceForm.get('nome')"></app-form-field-error>
        </div>
        <div class="form-group col-md-4">
          <mat-form-field>
            <mat-label for="descricao">Descrição</mat-label>
            <input matInput type="text" id="descricao" formControlName="descricao">
          </mat-form-field>
          <app-form-field-error [controlName]="resourceForm.get('descricao')"></app-form-field-error>
        </div>
        <div class="form-group col-md-2">
          <mat-form-field>
            <mat-label for="quantidade">Quantidade</mat-label>
            <input matInput type="text" id="quantidade" formControlName="quantidade">
          </mat-form-field>
          <app-form-field-error [controlName]="resourceForm.get('quantidade')"></app-form-field-error>
        </div>
        <div class="form-group col-md-2">
          <mat-form-field>
            <mat-label for="preco">Preço</mat-label>
            <input matInput type="text" id="preco" formControlName="preco">
          </mat-form-field>
          <app-form-field-error [controlName]="resourceForm.get('preco')"></app-form-field-error>
        </div>
      </div>
    </div>


  </div>
  <app-server-error-messages [serverErrorMessages]="serverErrorMessages"></app-server-error-messages>
  <button type="submit" class="btn btn-primary btn-lg float-right mt-3"
          [disabled]="submittingForm || resourceForm.invalid">
    Salvar
  </button>

</form>
