<app-bread-crumb [items]="[{text: 'Vendedor', link: '/vendedores'}, {text: pageTitle}]"></app-bread-crumb>
<app-page-header [pageTitle]="pageTitle" buttonText="Voltar" buttonLink="/vendedores" matIcon="arrow_back">
</app-page-header>

<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Cadastro de vendedor
      </mat-panel-title>
      <mat-panel-description>
        Vendedor
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form [formGroup]="resourceForm" id="resourceForm" (submit)="submitForm()">

      <div class="card">

        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-md-12">
            </div>
          </div>
          <div class="form-row" align="center">
            <div class="form-group col-md-2">
            </div>
            <div class="form-group col-md-4">
              <mat-form-field>
                <mat-label for="nome">Nome</mat-label>
                <input matInput  id="nome" formControlName="nome">
              </mat-form-field>
              <app-form-field-error [nameCampo]="'Nome'" [controlName]="resourceForm.get('nome')"></app-form-field-error>
            </div>
            <div class="form-group col-md-4">
              <mat-form-field>
                <mat-label for="Email">E-mail</mat-label>
                <input matInput type="text" id="email" formControlName="email">
              </mat-form-field>
              <app-form-field-error  [nameCampo]="'E-mail'" [controlName]="resourceForm.get('email')"></app-form-field-error>
            </div>
          </div>
          <div class="form-row" align="center">
            <div class="form-group col-md-2">
            </div>
            <div class="form-group col-md-3">
              <mat-form-field>
                <mat-label for="tipoFisicoJuridico">Tipo de Pessoa:</mat-label>
                <mat-select disableRipple id="tipoFisicoJuridico" formControlName="tipoFisicoJuridico"
                            placeholder="Selecione">
                  <mat-option value='F'>Física</mat-option>
                  <mat-option value='J'>Jurídica</mat-option>
                </mat-select>
              </mat-form-field>
              <app-form-field-error [nameCampo]="' Tipo Fisico / Juridico'" [controlName]="resourceForm.get('tipoFisicoJuridico')"></app-form-field-error>
            </div>
            <div class="form-group col-md-3">
              <mat-form-field>
                <mat-label for="cpfOuCnpj">CPF ou CNPJ</mat-label>
                <input matInput id="cpfOuCnpj" [showMaskTyped]="true" [dropSpecialCharacters]="false"
                       mask="000.000.000-00||00.000.000/0000-00" formControlName="cpfOuCnpj">
              </mat-form-field>
              <app-form-field-error  [nameCampo]="'CPF CNPJ'" [controlName]="resourceForm.get('cpfOuCnpj')"></app-form-field-error>
            </div>

          </div>

          <div class="form-row">
            <div class="form-group col-md-2 ">
            </div>
            <div class="form-group col-md-3 ">
              <div [formArrayName]="'telefones'">
                <mat-label (click)="addTelefones()">Adicionar telefone a lista:</mat-label>
                <mat-icon (click)="addTelefones()" class="green-icon">add_circle_outline</mat-icon>
                <div class="scrollbar scrollbar-danger">
                  <div *ngFor="let t of  resourceForm.controls.telefones.value; let i = index" [formGroupName]="i">
                    {{i}}
                    <mat-form-field>
                      <mat-label>Fone:</mat-label>
                      <input matInput id="{{t.tel}}" formControlName="tel" [value]="t" mask="(000) 000 00 00">
                      <mat-icon (click)="this.removeTelefones(i)" color="warn" matSuffix>delete_outline</mat-icon>
                    </mat-form-field>
                  </div>

                </div>
              </div>
            </div>
            <div class="form-group col-md-2">
              <mat-form-field>
                <mat-label>Data de nascimento</mat-label>
                <input matInput formControlName="dataNascimento" [matDatepicker]="dataNascimento">
                <mat-datepicker-toggle matSuffix [for]="dataNascimento"></mat-datepicker-toggle>
                <mat-datepicker #dataNascimento></mat-datepicker>
              </mat-form-field>
              <app-form-field-error [nameCampo]="'data de nascimento'"  [controlName]="resourceForm.get('dataNascimento')"></app-form-field-error>

            </div>

          </div>

          <div class="card">
            <div class="card-header">
              <div class="form-row" align="center">
                <div class="form-group col-md-4">
                  <mat-label>Digite o CEP para pesquisa de endereço:</mat-label>
                  <mat-form-field>
                    <mat-label for="numeroCep">cep</mat-label>
                    <input matInput type="number" #numeroCep id="numeroCep">
                    <mat-icon color="warn" (click)=" pesquisarCep(numeroCep.value)"  matTooltip="Pesquisar por endereço" matSuffix>search
                    </mat-icon>
                  </mat-form-field>
                </div>

                <div class="form-group col-md-6">
                  <div *ngIf="isEndereco" [formGroup]="resourceForm.controls.endereco">
                    <input matInput  formControlName="cep" >
                    <input matInput formControlName="logradouro">
                      <input matInput formControlName="numero" >
                    <input matInput formControlName="bairro" >
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>


      <app-server-error-messages [serverErrorMessages]="serverErrorMessages"></app-server-error-messages>
      <button type="submit" class="btn btn-primary btn-lg float-right mt-3"
              [disabled]="submittingForm || resourceForm.invalid">
        Salvar
      </button>
    </form>
  </mat-expansion-panel>
</mat-accordion>
