
<app-page-header
pageTitle ="Profile" >
</app-page-header>
  <div class="ion-padding">

      <img class="circle" [src]="profileImage">

    <h2>{{resource?.nome}}</h2>
    <p>{{resource?.email}}</p>



        Enviar imagem de perfil
      <div *ngIf="picture">
        <img [src]="picture">
      </div>


        <!--<button block (click)="getGalleryPicture()" [disabled]="cameraOn">Galeria</button>
        <button *ngIf="picture" ion-button outline block (click)="sendPicture()">Enviar imagem</button>
        <button *ngIf="picture" ion-button outline block (click)="cancel()">Descartar imagem</button>
      -->

  </div>
