
<mat-toolbar class="navbar navbar-expand navbar-dark bg-dark mat-elevation-z4">
   
        <mat-icon type="button"  mat-button (click)="drawer.toggle()" class="text-white" >menu</mat-icon>
        <div class="col-md-3">
        <a class="navbar-brand" routerLink="/">Sistema de Pedidos</a>
      </div>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/reports">Relatórios</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/entries">Lançamentos</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/categorias">Categorias</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/vendedores">Vendedores</a>
            </li>
            
          </ul>
        </div>

    
</mat-toolbar>